#title {
    text-align: center;
    margin: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    color: azure;
    border-bottom: 1.5px rgb(237, 240, 240, 0.8) solid;
}

.forget {
    height: 200px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -200px;
    z-index: -40;

}

.form-label {
    font-size: 20px;
    color: azure;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.forget button {
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(50, 144, 233, 0.4);
}

.bg {
    height: auto;
    width: auto;
    position: absolute;
    background-image: url(/Images/app/login/bg-login.jpg);
    /*background-size:cover;*/
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -99;
}

.bg-blur {
    background-position: center;
    filter: opacity(0.8);

}