
@{
    ViewBag.Title = "ForgetEmailResult";
    Layout = "~/Views/Shared/_LayoutLogin_goshopping.cshtml";
}

    <h2>密碼重設的信件已寄出, 請收信,並點擊信件重設密碼,謝謝!!</h2>


@Html.ActionLink("返回首頁", "Index", "Home", null, new { @class = "btn btn-success" })
