
@{
    ViewBag.Title = "SendEmailResult";
    Layout = "~/Views/Shared/goshopping/_LayoutLogin_goshopping.cshtml";
}

<h2>會員申請的信件已寄出, 請收信,並點擊驗證信件功能,謝謝!!</h2>

@Html.ActionLink("返回首頁", "Index", "Home", null, new { @class = "btn btn-success" })