
@{
    ViewBag.Title = "VerifyEmail";
    Layout = "~/Views/Shared/goshopping/_LayoutLogin_goshopping.cshtml";
}

@if (ViewBag.Status)
{
    <p>恭喜你, 已經完成會員帳號驗證, 請重新登入!!</p>
}
else
{
    <p>@ViewBag.Message</p>
}

@Html.ActionLink("返回首頁", "Index", "Home", null, new { @class = "btn btn-success" })
