
@{
    ViewBag.Title = "VerifyEmail";
    Layout = "~/Views/Shared/_LayoutLite.cshtml";
}

@if (ViewBag.Status)
{
    <h2 style="color:white">恭喜你, 已經完成會員帳號驗證, 請重新登入!!</h2>  
}
else
{
    <p>@ViewBag.Message</p>
}

@Html.ActionLink("返回首頁", "Index", "Home", null, new { @class = "btn btn-success" })
