#tree {
    margin-top: 25px;
}

    #tree .tree-header {
        font-weight: bold;
        color: white;
        text-align: left;
    }

.RemoveUnderLine {
    text-decoration: none;
}

.SearchText {
    color: maroon;
    padding-left: 2px;
}

.dropdown-menu > li > a:hover {
    background-color: darkorange;
    color: white;
}

.CurrentPosition {
    padding-top: 25px;
}

.control-caption {
    color: darkcyan !important;
    font-weight: bold !important;
}

.control-header {
    color: cadetblue;
}

.form-control, .control-label, control-value {
    font-size: 16px !important;
    color: black !important;
}

.form-button {
    font-size: 16px !important;
    color: white !important;
}

.form-control-checkbox {
    width: auto !important;
    box-shadow: none;
}

.side-logo {
    color: orange !important;
}

.side-user {
    color: maroon;
    font-size: 16px;
}

.side-position {
    color: maroon;
}

.side-action-button {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-bar {
    padding: 10px;
}

.form-header {
    font-size: 16px;
    font-weight: bold;
}

.category-header {
    font-size: larger;
    font-weight: bold;
    color: maroon
}

.product-sale-price {
    margin-top: 15px !important;
    font-size: xx-large !important;
    color: red !important;
}

.product-detail-label {
    padding-left: 12px !important;
    font-size: 16px;
    font-weight: bold;
}

.product-detail-select {
    margin-top: 10px !important;
    width: auto;
}

.StatHeader {
    font-size: large;
}

.StatRank {
    font-weight: bold;
}

.StatRankProductNo {
    color: blue;
}

.StatRankValue {
    color: red;
}

.dash-nav-dropdown a,
.dash-nav-dropdown-menu a,
.dash-nav-item {
    font-size: 16px !important;
}

/*smaller size filter text box*/
.dataTables_filter > label > input {
    line-height: normal !important;
}

/*entry length text size changed*/
.dataTables_length > label {
    font-weight: normal !important;
    font-size: 16px !important;
}
/*filter label text size changed*/
.dataTables_filter > label {
    font-weight: normal !important;
    font-size: 16px !important;
}

/*table data size changed*/
.dataTable {
    border: 2px solid #008080 !important;
    width: 100% !important;
}

    /*table header size changed*/
    .dataTable > thead > tr > th {
        font-weight: 600 !important;
        font-size: 16px !important;
        padding: 5px !important;
        vertical-align: middle;
    }

    .dataTable > tbody > tr > td {
        padding: 2px !important;
        font-size: 16px !important;
        vertical-align: middle;
    }

        .dataTable > tbody > tr > td > a {
            padding: 1px !important;
        }

/*table paging size changed*/
.dataTables_paginate > span > a {
    margin-bottom: 0px !important;
    padding: 2px 10px !important;
}
/*table paging size changed*/
.dataTables_paginate > a {
    margin-bottom: 0px !important;
    padding: 2px 10px !important;
}

/*table paging float right*/
.dataTables_paginate {
    text-align: right !important;
}

/*fixed sorting arrow 'after'*/
table.dataTable thead .sorting-icons:after {
    content: "\e114";
    font-weight: lighter;
    font-size: x-small;
    display: list-item;
    list-style: none;
    margin-left: -1px;
    border: 0px solid white !important;
    padding: 0 !important;
    line-height: 0.5em !important;
    margin-top: 0px !important;
    background: none !important;
}
/*fixed sorting arrow 'before'*/
table.dataTable thead .sorting-icons:before {
    content: "\e113";
    font-weight: lighter;
    font-size: x-small;
    display: list-item;
    list-style: none;
    margin-left: -0.4px;
    border: 0px solid white !important;
    padding: 0 !important;
    line-height: 0.5em !important;
    margin-top: 0px !important;
    background: none !important;
}

/*fixed sorting arrows position*/
.sorting-cnt {
    float: right;
    margin-right: 10px;
    display: block;
}

.user-profile-image {
    width: 100%;
    height: auto;
}

.user-logo-image {
    width: 40px;
    height: 48px;
    border-radius: 50%;
}
